@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

$custom_palette : igx-palette(

  $error:rgb(128, 32, 32),
  $secondary: rgb(255, 0, 0),
  $primary:rgb(7, 148, 184)


);

@include igx-core();
@include igx-theme($custom-palette);
